@import "../../../styles/variables";

.menu {
  margin-left: 3vw;
  &__title {
    font-size: 3.6em;
    color: $menu-color;
  }
  &__list {
    &__el {
      position: relative;
      font-size: 1.8em;
      padding: 2px 5vw 2px 0;
      & .span-navigate {
        padding: 3px 5vw 3px 0;
        margin-left: 1vw;
        transition: 0.4s;
        color: $menu-color;
        cursor: pointer;
        &::after {
          content: "";
          position: absolute;
          left: -8vw;
          height: 90%;
          width: 10px;
          background-color: $menu-color-active;
          transform: skewX(-30deg);
          transition: 0.4s;
        }
        &:hover {
          color: $menu-color;
          margin-left: 4vw;
          letter-spacing: 10px;
          &::after {
            transform: translateX(9vw) skewX(-30deg);
          }
        }
      }
    }
  }
}

.span-navigate.active {
  color: $menu-color-active;
  font-weight: bold;
  cursor: default;
  &:hover {
    color: $menu-color-active;
    margin-left: 1vw;
    letter-spacing: 0;
    &::after {
      transform: translateX(0vw) skewX(-30deg);
    }
  }
}

@media (max-width: 1366px) {
  .menu {
    &__title {
      font-size: 3em;
    }
    &__list {
      &__el {
        font-size: 1.6em;
      }
    }
  }
}

@media (max-width: 420px) {
  .menu__list__el .span-navigate::after {
    width: 8px;
    height: 75%;
  }

  .menu__list__el .span-navigate:hover {
    &::after {
      left: 0vw;
    }
  }

  .span-navigate.active:hover::after {
    left: -8vw;
  }
}

@media (max-width: 375px) {
  .menu {
    &__title {
      font-size: 2.6em;
    }
    &__list {
      &__el {
        font-size: 1.4em;
        & a {
          &::after {
            left: -10vw;
          }
        }
      }
    }
  }
}

@media (max-width: 320px) {
  .menu {
    &__title {
      font-size: 2.4em;
    }
    &__list {
      &__el {
        font-size: 1.2em;
      }
    }
  }
}
