@import "../../../styles/variables";

.menu {
  margin-left: 3vw;
  &__title {
    font-size: 3.6em;
    color: $menu-color;
  }
  &__list {
    &__el {
      position: relative;
      font-size: 1.8em;
      padding: 2px 5vw 2px 0;
      & .span-navigate,
      a {
        padding: 3px 5vw 3px 0;
        margin-left: 1vw;
        transition: 0.4s;
        color: $menu-color;
        cursor: pointer;
        &::after {
          content: "";
          position: absolute;
          left: -8vw;
          height: 100%;
          width: 10px;
          background-color: red;
          transform: skewX(-30deg);
          transition: 0.4s;
        }
        &:hover {
          color: $menu-color;
          margin-left: 4vw;
          letter-spacing: 10px;
          &::after {
            left: 1vw;
          }
        }
      }
    }
  }
}

.active {
  color: red;
  font-weight: bold;
}

@media (max-width: 1366px) {
  .menu {
    &__title {
      font-size: 3em;
    }
    &__list {
      &__el {
        font-size: 1.6em;
      }
    }
  }
}

@media (max-width: 375px) {
  .menu {
    &__title {
      font-size: 2.6em;
    }
    &__list {
      &__el {
        font-size: 1.4em;
        & a {
          &::after {
            left: -10vw;
          }
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .menu {
    &__title {
      font-size: 2.4em;
    }
    &__list {
      &__el {
        font-size: 1.2em;
      }
    }
  }
}
