.loader {
  &__startBtn {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: showBtn 0.4s 7.4s both;
  }
}

@keyframes showBtn {
  100% {
    opacity: 1;
  }
}
