.projects {
  width: 100%;
  &__info {
    &__menu {
      margin: 5vh 3vw;
    }
  }
  &__cards {
    margin-right: 30vw;
    margin-bottom: 5vh;
    display: flex;
    flex-wrap: wrap;
  }
  &__menu {
    transform: translateY(-12%);
  }
}

@media (max-width: 1680px) {
  .projects__cards {
    margin-right: 35vw;
  }
}

@media (max-width: 1600px) {
  .projects__menu {
    transform: translateY(-6%);
  }
}

@media (max-width: 1024px) {
  .projects {
    &__cards {
      margin-right: 0vw;
    }
  }
}
