.projects {
  width: 100%;
  &__info {
    &__menu {
      margin: 5vh 3vw;
    }
  }
  &__cards {
    margin-right: 30vw;
    display: flex;
    flex-wrap: wrap;
  }
  &__menu {
    transform: translateY(-12%);
  }
}
