.skills {
  overflow: hidden;
  position: absolute;
  min-width: 99.1vw;
  min-height: 100vh;
  top: 50%;
  left: -100%;
  transform: translate(-50%, -50%) scale(0.8);
  animation: AnimationIn 1.2s both;
}

.bgOut {
  overflow: hidden;
}

.goOut {
  animation: AnimationOut 1.2s both;
}

@keyframes AnimationOut {
  0% {
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }

  50% {
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
  }
  100% {
    left: 200%;
    transform: translate(-50%, -50%) scale(0.8);
  }
}

@keyframes AnimationIn {
  0% {
    left: -100%;
    transform: translate(-50%, -50%) scale(0.8);
  }

  66% {
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
  }
  100% {
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
}

.skills__menu {
  transform: translateY(-14%);
}

@media (max-width: 1600px) {
  .skills__menu {
    transform: translateY(-7%);
  }
}
