// import font family
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");

//fonts
$primary-font: "Montserrat", sans-serif;

//menu colors
$menu-color: #eee;
$menu-color-active: red;

//section colors
$home-color: #eee;
$main-color: #eee;
$loader-color: #000;
$project-bgc: rgb(0, 0, 0);
$project-shadow: rgba(0, 0, 0, 0.5);
