@import "../../../styles/variables";

.projectNew {
  margin-left: 3vw;
  margin-bottom: 3vh;
  &__box {
    position: relative;
    width: 27vw;
    height: 35vh;
    background-color: $project-bgc;
    box-shadow: 0 30px 30px $project-shadow;
    &__imgBx__img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: grayscale(40%);
      transition: 0.7s;
    }
    &__content {
      position: absolute;
      bottom: 20px;
      left: 10%;
      width: 80%;
      height: 60px;
      background-color: $main-color;
      transition: 0.7s;
      overflow: hidden;
      padding: 15px;
      box-sizing: border-box;
      opacity: 0.8;
    }
    &:hover .projectNew__box__imgBx__img {
      opacity: 0;
    }
    &:hover .projectNew__box__content {
      width: 100%;
      height: 100%;
      bottom: 0;
      left: 0;
    }
  }
}

.content {
  &__title {
    font-size: 1.8em;
    letter-spacing: 1px;
    font-style: italic;
    text-align: center;
    transition: 0.5s;
  }
  &__desc {
    letter-spacing: 1px;
    font-style: italic;
    margin: 20px 10px 0;
    opacity: 0;
    line-height: 1.2em;
    transition: 0.7s;
    text-align: center;
  }
}

.projectNew__box:hover .content {
  &__title {
    margin-top: 5vh;
  }
  &__desc {
    opacity: 1;
    transition-delay: 0.4s;
  }
}

@media (max-width: 1440px) {
  .content {
    &__title {
      font-size: 1.7em;
    }
    &__desc {
      font-size: 0.9em;
    }
  }
  .projectNew__box:hover .content {
    &__title {
      margin-top: 4vh;
    }
  }
}

@media (max-width: 1366px) {
  .content {
    &__title {
      font-size: 1.4em;
    }
    &__desc {
      margin: 10px 10px 0;
      font-size: 0.8em;
    }
  }
  .projectNew__box:hover .content {
    &__title {
      margin-top: 3vh;
    }
  }
}

@media (max-width: 768px) {
  .projectNew__box {
    width: 42vw;
    height: 22vh;
  }
  .content {
    &__title {
      font-size: 1.2em;
    }
    &__desc {
      margin: 10px 10px 0;
      font-size: 0.8em;
    }
  }
  .projectNew__box:hover .content {
    &__title {
      margin-top: 1vh;
    }
  }
}

@media (max-width: 420px) {
  .projectNew__box {
    margin-left: 2vw;
    width: 90vw;
    height: 27vh;
  }
  .content {
    &__title {
      font-size: 1.4em;
    }
    &__desc {
      margin: 0;
      font-size: 0.75em;
    }
  }
  .projectNew__box:hover .content {
    &__title {
      margin-top: 0vh;
    }
  }

  .projectNew__box:hover .projectNew__box__content {
    padding-top: 10px;
  }
}

@media (max-width: 375px) {
  .content {
    &__title {
      font-size: 1.3em;
    }
    &__desc {
      font-size: 0.65em;
    }
  }

  .projectNew__box:hover .projectNew__box__content {
    padding-top: 5px;
  }
}

@media (max-width: 320px) {
  .content {
    &__title {
      font-size: 1.1em;
    }
    &__desc {
      font-size: 0.55em;
    }
  }
  .projectNew__box:hover .projectNew__box__content {
    padding-top: 1px;
  }
}
