.project {
  height: 50vh;
  &__card {
    width: 22rem;
  }
  &__technology {
    margin-top: 1vh;
  }
}

@media (max-width: 1680px) {
  .project {
    height: 50vh;
    &__card {
      width: 19rem;
    }
    &__btn {
      padding: 15px 25px;
    }
  }
}

@media (max-width: 1600px) {
  .card-body {
    padding: 1vh 1vw !important;
  }
  .project {
    height: 58vh;
    &__card {
      &__title {
        font-size: 0.8em !important;
      }
      &__text,
      &__technology {
        font-size: 0.8em !important;
      }
    }
  }
}

@media (max-width: 1024px) {
  .project {
    height: 40vh;
  }
}

@media (max-width: 420px) {
  .project {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 52vh;
    &__card {
      width: 22rem;
    }
  }
}

@media (max-width: 375px) {
  .project {
    height: 54vh;
    &__card {
      width: 21rem;
    }
  }
}

@media (max-width: 320px) {
  .project {
    height: 62vh;
    &__card {
      width: 18rem;
    }
  }
}
