.contact {
  overflow: hidden;
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  animation: AnimationIn 1.2s both;
}

@keyframes AnimationOut {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }

  50% {
    transform: translate(-50%, -50%) scale(0.8);
  }
  100% {
    transform: translate(100%, -50%) scale(0.8);
  }
}

@keyframes AnimationIn {
  0% {
    transform: translate(-150%, -50%) scale(0.8);
  }

  66% {
    transform: translate(-50%, -50%) scale(0.8);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@media (max-width: 1600px) {
  .contact {
    min-width: 98.9vw;
  }
}

@media (max-width: 1440px) {
  .contact {
    min-width: 98.8vw;
  }
}

@media (max-width: 1366px) {
  .contact {
    min-width: 98.7vw;
  }
}

@media (max-width: 1024px) {
  .contact {
    min-width: 100vw;
  }
}

@media (max-width: 420px) {
  .contact {
    top: 53%;
  }
}

@media (max-width: 375px) {
  .contact {
    top: 52%;
  }
}

@media (max-width: 360px) {
  .contact {
    top: 60.5%;
  }
}

@media (max-width: 320px) {
  .contact {
    top: 67.5%;
  }
}
