.projects {
  overflow: hidden;
  position: absolute;
  min-width: 99.1vw;
  min-height: 100vh;
  top: 90%;
  left: -100%;
  transform: translate(-50%, -50%) scale(0.8);
  animation: AnimationIn 1.2s both;
  &__info {
    &__menu {
      margin: 5vh 3vw;
    }
  }
  &__cards {
    margin-right: 30vw;
    margin-bottom: 5vh;
    display: flex;
    flex-wrap: wrap;
  }
  &__menu {
    transform: translateY(-12%);
  }
}

.bgOut {
  overflow: hidden;
}

.goOut {
  animation: AnimationOut 1.2s both;
}

@keyframes AnimationIn {
  0% {
    left: -100%;
    transform: translate(-50%, -50%) scale(0.8);
  }

  66% {
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
  }
  100% {
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes AnimationOut {
  0% {
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }

  50% {
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
  }
  100% {
    left: 200%;
    transform: translate(-50%, -50%) scale(0.8);
  }
}

@media (max-width: 1680px) {
  .projects__cards {
    margin-right: 35vw;
  }
  .projects {
    min-width: 99vw;
  }
}

@media (max-width: 1600px) {
  .projects {
    min-width: 98.9vw;
  }
  .projects__menu {
    transform: translateY(-6%);
  }
}

@media (max-width: 1440px) {
  .projects {
    min-width: 98.8vw;
  }
}

@media (max-width: 1366px) {
  .projects {
    min-width: 98.7vw;
  }
}

@media (max-width: 1024px) {
  .projects {
    top: 70%;
    min-width: 100vw;
    &__cards {
      margin-right: 0vw;
    }
  }
}

@media (max-width: 420px) {
  .projects {
    top: 136%;
  }
}

@media (max-width: 375px) {
  .projects {
    top: 132%;
  }
}

@media (max-width: 320px) {
  .projects {
    top: 137%;
  }
}
