@import "./mixins";
@import "./variables";

// import font family
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");

* {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.sectionBg {
  position: relative;
  min-width: 99.1vw;
  min-height: 100vh;
  background-color: #000;
  cursor: default;
}

.bgOut {
  overflow: hidden;
}

.goOut {
  animation: AnimationOut 1.2s both;
}

@keyframes AnimationOut {
  0% {
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }

  50% {
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
  }
  100% {
    left: 200%;
    transform: translate(-50%, -50%) scale(0.8);
  }
}

@media (max-width: 1680px) {
  .sectionBg {
    min-width: 99vw;
  }
}

@media (max-width: 1600px) {
  .sectionBg {
    min-width: 98.9vw;
  }
}

@media (max-width: 1440px) {
  .sectionBg {
    min-width: 98.8vw;
  }
}

@media (max-width: 1366px) {
  .sectionBg {
    min-width: 98.6vw;
  }
}

@media (max-width: 1024px) {
  .mobile {
    padding-top: 7vh;
  }
}

@media (max-width: 420px) {
  .mobile {
    padding-top: 3vh;
  }
}
