@import "../../../styles/variables";

.desc {
  color: $main-color;
  margin-left: 3vw;
  padding-bottom: 5vh;

  &__title {
    margin: 12vh 0 2vh;
    font-size: 6em;
  }
  &__desc {
    margin: 3vh 0 6vh;
    letter-spacing: 1px;
    font-size: 1.8em;
    &__el {
      margin-top: 1vh;
    }
  }
}

@media (max-width: 1600px) {
  .desc {
    padding-bottom: 0vh;
    &__title {
      margin: 4vh 0 2vh;
      font-size: 5em;
    }
    &__desc {
      font-size: 1.6em;
      &__el {
        margin-top: 0vh;
      }
    }
  }
}

@media (max-width: 1366px) {
  .desc {
    &__title {
      margin: 3vh 0 1vh;
      font-size: 4em;
    }
    &__desc {
      font-size: 1.3em;
    }
  }
}

@media (max-width: 375px) {
  .desc {
    &__title {
      font-size: 3.6em;
    }
    &__desc {
      font-size: 1.2em;
    }
  }
}

@media (max-width: 320px) {
  .desc {
    &__title {
      font-size: 3.2em;
    }
    &__desc {
      font-size: 1em;
    }
  }
}
