.contact__media {
  margin-left: 4vw;
  padding-bottom: 10vh;
}

@media (max-width: 1600px) {
  .contact__media {
    margin-right: 50vw;
    padding-bottom: 5vh;
  }
}

@media (max-width: 420px) {
  .contact__media {
    margin-left: 2vw;
    margin-right: 10vw;
  }
}

@media (max-width: 360px) {
  .contact__media {
    margin-right: 15vw;
  }
}

@media (max-width: 320px) {
  .contact__media {
    margin-right: 20vw;
  }
}
