.desc .desc-skills {
  &__title {
    margin: 2vh 0 0vh;
    font-size: 4.8em;
  }
  &__desc {
    margin-top: 0;
    margin-right: 35vw;
    font-size: 1.4em;
  }
}

#desc-skills {
  padding-bottom: 0vh;
}

@media (max-width: 1366px) {
  .desc .desc-skills {
    &__title {
      font-size: 4em;
    }
    &__desc {
      font-size: 1.2em;
    }
  }
}
