.desc .desc-about {
  &__title {
    margin: 3vh 0 0vh;
    font-size: 6em;
  }
  &__desc {
    margin-right: 40vw;
    font-size: 1.5em;
  }
}

.desc-about .title-2 {
  font-size: 3.6em;
}

#desc-about {
  padding-bottom: 0vh;
}

@media (max-width: 1600px) {
  .desc .desc-about {
    &__title {
      font-size: 4.6em;
    }
    &__desc {
      margin: 3vh 0;
      margin-right: 40vw;
      font-size: 1.3em;
    }
  }

  .desc-about .title-2 {
    font-size: 3em;
  }
}

@media (max-width: 1366px) {
  .desc .desc-about {
    &__title {
      margin: 0;
      font-size: 4em;
    }
    &__desc {
      font-size: 1.2em;
    }
  }

  .desc-about .title-2 {
    font-size: 2.6em;
  }
}

@media (max-width: 420px) {
  .desc .desc-about {
    &__title {
      font-size: 3em;
    }
    &__desc {
      margin-right: 30vw;
      font-size: 1em;
    }
  }

  .desc-about .title-2 {
    font-size: 2.2em;
  }
}

@media (max-width: 375px) {
  .desc .desc-about {
    &__title {
      font-size: 2.8em;
    }
    &__desc {
      margin-right: 30vw;
      font-size: 0.9em;
    }
  }

  .desc-about .title-2 {
    font-size: 2em;
  }
}

@media (max-width: 360px) {
  .desc .desc-about {
    &__title {
      font-size: 2.8em;
    }
    &__desc {
      margin-right: 19vw;
      font-size: 0.85em;
    }
  }

  .desc-about .title-2 {
    font-size: 2em;
  }
}

@media (max-width: 320px) {
  .desc .desc-about {
    &__desc {
      margin-right: 26vw;
      font-size: 0.85em;
    }
  }

  .desc-about .title-2 {
    font-size: 1.8em;
  }
}
