.bg {
  &__video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
  }
  &__opacity {
    position: fixed;
    bottom: 0;
    left: -20%;
    right: 60%;
    min-width: 40%;
    min-height: 100%;
    background: rgba(0, 0, 0, 0.5);
    transform: skew(-15deg);
    z-index: -1;
  }
}

.bg-mobile {
  display: none;
}

.bg-desktop {
  display: block;
}

@media (max-width: 1024px) {
  .bg-mobile {
    display: block;
  }

  .bg-desktop {
    display: none;
  }
}

@media (max-width: 414px) {
  .bg__opacity {
    left: -30%;
  }
}

@media (max-width: 375px) {
  .bg__opacity {
    left: -70%;
  }
}
