@import "../../../styles/variables";
@import "../../../styles/mixins";

.loader__text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-family: "Dosis", "Lato", sans-serif;
  font-size: 70px;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 14px;
  overflow: hidden;
}

.loader__text,
.loader__text > span {
  height: 100%;
  @include flexboxCentering;
}

.loader__text > span {
  margin: 0 15px;
}

.loader__text > span > span {
  display: inline-block;
  perspective: 1000px;
  transform-origin: 50% 50%;
}

.loader__text > span > span > span {
  display: inline-block;
  color: $loader-color;
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 0);
  opacity: 0;
  animation: OpeningSequence 3.8s linear forwards;
}

.loader__text:nth-child(2) > span > span > span {
  animation-delay: 3.8s;
}

.loader-desktop {
  display: block;
}

.loader-mobile {
  display: none;
}

@keyframes OpeningSequence {
  0% {
    text-shadow: 0 0 50px $loader-color;
    letter-spacing: 80px;
    opacity: 0.2;
    transform: rotateY(-90deg);
  }
  60% {
    text-shadow: 0 0 1px $loader-color;
    letter-spacing: 10px;
    opacity: 0.8;
    transform: rotateY(0deg);
  }
  90% {
    text-shadow: 0 0 1px $loader-color;
    opacity: 0.8;
    transform: rotateY(0deg) translateZ(100px);
  }
  100% {
    text-shadow: 0 0 10px $loader-color;
    opacity: 0;
    transform: translateZ(130px);
    pointer-events: none;
  }
}

@media (max-width: 1024px) {
  .loader__text {
    font-size: 30px;
  }
}

@media (max-width: 700px) {
  .loader-desktop {
    display: none;
  }

  .loader-mobile {
    display: block;
  }

  .loader__text {
    font-size: 28px;
    letter-spacing: 10px;
  }
}

@media (max-width: 360px) {
  .loader__text {
    font-size: 26px;
    letter-spacing: 9px;
  }
}

@media (max-width: 320px) {
  .loader__text {
    font-size: 22px;
    letter-spacing: 8px;
  }
}
