@import "../../../styles/variables";

.index__loader {
  height: 100vh;
}

.loader h2 {
  font-family: "Dosis", "Lato", sans-serif;
  font-size: 70px;
  font-weight: 200;
  height: 100%;
  width: 100%;
  overflow: hidden;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 14px;
  text-align: center;
}

.loader h2,
.loader h2 > span {
  height: 100%;
  /* Centering with flexbox */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.loader h2 > span {
  margin: 0 15px;
}

.loader h2 > span > span {
  display: inline-block;
  perspective: 1000px;
  transform-origin: 50% 50%;
}

.loader h2 > span > span > span {
  display: inline-block;
  color: $loader-color;
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 0);
  animation: OpeningSequence 4.2s linear forwards;
}

.loader h2:nth-child(2) > span > span > span {
  animation-delay: 4s;
}

@keyframes OpeningSequence {
  0% {
    text-shadow: 0 0 50px $loader-color;
    letter-spacing: 80px;
    opacity: 0.2;
    transform: rotateY(-90deg);
  }
  50% {
    text-shadow: 0 0 1px $loader-color;
    letter-spacing: 14px;
    opacity: 0.8;
    transform: rotateY(0deg);
  }
  85% {
    text-shadow: 0 0 1px $loader-color;
    opacity: 0.8;
    transform: rotateY(0deg) translateZ(100px);
  }
  100% {
    text-shadow: 0 0 10px $loader-color;
    opacity: 0;
    transform: translateZ(130px);
    pointer-events: none;
  }
}
