.skills__techs {
  color: #eee;
  margin-left: 3vw;
  transform: translateY(-8%);
  &__wrap {
    padding-bottom: 2vh;
    &__title {
      font-size: 3em;
    }
  }
}

.skills-ico {
  font-size: 5em;
  padding: 1vh;
}

.skills-ico-svg {
  transform: translateY(-40%);
  padding: 0 1vh;
}
